// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logout{
    color: white;
    margin-left: 900px;
    font-size: 20px;
    display: inline-block;
    padding-bottom: 5m00px;
}

h1{
    display: inline-block;
}
.btn{
    margin-right: 400px;
}

