// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
    height: 100px;
    background:rgb(199, 5, 69);
    padding: 10px 10px 10px 40px;
    color: white;
    
}

.form-signin{
    display: inline-block;
    vertical-align: top;
}

